<mat-toolbar>
  <div>FPL MINI LEAGUE TRACKER</div>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        [style.background-color]="'white'"
        formControlName="teamID"
        matInput
        type="search"
      />
      <button mat-button matSuffix mat-stroked-button aria-label="search">
        <mat-icon>search</mat-icon>
      </button>
      <div
        *ngIf="
          formData.get('teamID')?.invalid &&
          formData?.get('teamID')?.errors &&
          (formData.get('teamID')?.dirty || formData.get('teamID')?.touched)
        "
      >
        <small
          class="text-danger"
          *ngIf="formData.get('teamID')?.hasError('pattern')"
        >
          Enter a number.
        </small>
        <small
          class="text-danger"
          *ngIf="formData.get('teamID')?.hasError('required')"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
  </form>
</mat-toolbar>

<div *ngIf="isLoading">
  <mat-spinner [color]="'accent'" [strokeWidth]="4"></mat-spinner>
</div>
<div *ngIf="data.length > 0">
  <bar-chart-race [data]="data"> </bar-chart-race>
</div>
