.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.canvas {
  height: 100% !important;
  width: 100%;
  display: flex;
}

.canvas-wrapper {
  flex-basis: 75%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  box-sizing: border-box;
}

.bar-chart-wrapper {
  position: relative;
  height: 60vh;
  width: 80vw;
}

.gameweek {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #14111a;
}
.gw-highlight {
  overflow-y: auto;
  flex: 2 1 0;
}

.mat-table {
  overflow: scroll;
}

.mat-cell,
.mat-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

::ng-deep .mat-form-field-label {
  color: white !important;
  font-size: 0.8em;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

::ng-deep .mat-form-field-underline {
  background-color: white;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: white;
}
label {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
canvas {
  width: 500px;
  background-color: black;

  box-shadow: inset 0 0 10px #000000;
  max-height: 35em;
}
.canvas-controls {
  flex-shrink: initial;
  background-color: black;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
}
.rank-range {
  display: flex;
  margin-left: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.rank-range button {
  margin-left: 1em;
  margin-top: 0.3em;
  align-self: center;
}

.text-danger {
  margin-left: 1em;
  align-self: center;
}
.filter-rank {
  font-family: "Quicksand", sans-serif;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  vertical-align: top;
}
.filter-rank label {
  color: white;
  font-size: 1em;
  margin-top: 0.6em;
  margin-right: 1em;
  margin-left: 1em;
}

.filter-rank input {
  height: 1.5em;
}

.timelapse {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1em;
}
.timelapse label {
  font-size: 1.1em;
}
.timelapse-controls {
  margin-right: 1em;
  color: white;
  display: flex;
  align-items: center;
}

.timelapse-buttons .material-icons:hover {
  opacity: 70%;
}

.disable:active {
  pointer-events: none;
}

mat-slider {
  margin-left: 0.9em;
}
table {
  width: 100%;
  padding: 0.5em;
  background-color: transparent;
}

.mat-button-disabled.mat-button-disabled {
  background-color: gray;
}

.season-highlights-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: rgb(64, 57, 180);
  background: linear-gradient(
    90deg,
    rgba(64, 57, 180, 1) 0%,
    rgba(116, 44, 201, 1) 51%,
    rgba(102, 51, 92, 1) 100%
  );
}

.button-title {
  font-size: 0.8vw;
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn:hover {
  background: rgb(43, 39, 121);
  background: linear-gradient(
    90deg,
    rgba(43, 39, 121, 1) 0%,
    rgba(75, 29, 129, 1) 51%,
    rgba(77, 39, 69, 1) 100%
  );
}

[hidden] {
  display: none !important;
}

season-highlights {
  background-color: black;

  flex: 1;
}
