.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.canvas-wrapper {
  flex-basis: 80%;
  display: flex;
  box-sizing: border-box;
  height: 100% !important;
  width: auto;
  flex-direction: column;
  box-sizing: border-box;
}

.bar-chart-wrapper {
  position: relative;
  height: 60vh;
  width: 80vw;
}

.gw-highlight {
  background-color: #14111a;
  flex-basis: 20%;
  flex-grow: 1;
  height: 100%;
}

::ng-deep .mat-form-field-label {
  color: white !important;
  font-size: 0.8em;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

::ng-deep .mat-form-field-underline {
  background-color: white;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: white;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: white;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: white;
}
label {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
canvas {
  width: 500px;
  background-color: black;

  box-shadow: inset 0 0 10px #000000;
  max-height: 35em;
}
.canvas-controls {
  flex-shrink: initial;
  background-color: #403b6c;
  display: flex;
  vertical-align: top;
  justify-content: space-between;
}
.rank-range {
  display: flex;
  height: 100%;
  margin-left: 1em;
  flex-wrap: wrap;
}

.rank-range button {
  margin-left: 1em;
  margin-top: 0.3em;
  align-self: center;
}
.filter-rank {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  vertical-align: top;
}
.filter-rank label {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 1em;
  margin-top: 0.6em;
  margin-right: 1em;
  margin-left: 1em;
}

.filter-rank input {
  height: 1.5em;
}

.timelapse {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1em;
}
.timelapse label {
  font-size: 1.1em;
}
.timelapse-controls {
  margin-right: 1em;
  color: white;
  display: flex;
  align-items: center;
}

.timelapse-buttons .material-icons:hover {
  opacity: 70%;
}

.disable:active {
  pointer-events: none;
}

mat-slider {
  margin-left: 0.9em;
}
