.content-wrapper {
  color: white;
  margin: 3em;
}
.highlights-text {
  text-align: center;
  font-size: 2.5em;
  font-family: "Bebas Neue";
}

.highlight-cards {
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27em, 1fr));
  grid-gap: 3em;
  align-items: stretch;
  margin: 1em;
}

.highlight-cards > div {
  padding: 0.8em;
  font-size: 1.3em;
  background: rgb(39, 121, 112);
  background: linear-gradient(
    45deg,
    rgb(18 141 135) 0%,
    rgb(18 96 89 / 98%) 100%
  );

  border-radius: 0.5em;
  min-height: 10em;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.tile-header {
  display: flex;
  justify-content: space-between;
}

.highlight-cards > div > .tile-header > img {
  height: 2em;
  width: auto;
}
.season-highlights-button {
  text-align: center;
}

.btn {
  background: rgb(64, 57, 180);
  background: linear-gradient(
    90deg,
    rgba(64, 57, 180, 1) 0%,
    rgba(116, 44, 201, 1) 51%,
    rgba(102, 51, 92, 1) 100%
  );
}

.btn:hover {
  background: rgb(43, 39, 121);
  background: linear-gradient(
    90deg,
    rgba(43, 39, 121, 1) 0%,
    rgba(75, 29, 129, 1) 51%,
    rgba(77, 39, 69, 1) 100%
  );
}

.seasonBW {
  display: flex;
  flex-direction: column;
}

.BWscore {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.BWtext {
  font-size: 0.8em;
}
