<div class="content-wrapper">
  <div class="highlights-text">Season Highlights</div>
  <div class="highlight-cards">
    <div class="best-chip">cc</div>
    <div class="transfer-avg">dd</div>
    <div class="transfers-made">d</div>
    <div class="transfer-effeciency">sdfds</div>
    <div class="transfers-made">ddfda</div>
    <div class="transfer-effeciency">sf</div>
  </div>
  <div class="season-highlights-button">
    <button
      class="btn btn-outline-primary col-4"
      mat-raised-button
      color="primary"
      type="button"
      [style.height.px]="35"
    >
      <span class="button-title">View Bar Chart</span>
    </button>
  </div>
</div>
