@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

body {
  margin: 0;
  background-color: black;
  width: 100%;
}
dashboard-view{
  height: 100vh;
  display: flex;
  flex-flow: column;
}

bar-chart-race{
  display: flex;
}




  .mat-slider-thumb {
    background-color: #e35930 !important;
  }
  .mat-slider.mat-accent .mat-slider-thumb-label{
    background-color: #e35930 !important;
  }
  .mat-slider-track-fill {
    background-color: #d1d1d1 !important;
  }
  
  