@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100&display=swap');

* {
  font-family: 'Bebas Neue', cursive;
}

body {
  margin: 0;
  background-color: black;
  width: 100%;
}
  
  html,
  body {
    height: 100%;
  }
  